/* Yekan Bakh */
@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn */
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Samim */
@font-face {
  font-family: 'Samim';
  src: url('/fonts/Samim-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* B Nazanin */
@font-face {
  font-family: 'B Nazanin';
  src: url('/fonts/BNazanin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-yekan-bakh: "Yekan Bakh", sans-serif;
  --font-vazirmatn: "Vazirmatn", sans-serif;
  --font-samim: "Samim", sans-serif;
  --font-b-nazanin: "B Nazanin", sans-serif;
}
