
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-yekan-bakh: "Yekan Bakh", sans-serif;
  --font-vazirmatn: "Vazirmatn", sans-serif;
  --font-samim: "Samim", sans-serif;
  --font-b-nazanin: "B Nazanin", sans-serif;
}

body {
  font-family: var(--app-font, var(--font-yekan-bakh));
}

/* Custom scrollbar for Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #555; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #777; }

/* Custom scrollbar for Firefox */
html { scrollbar-width: thin; scrollbar-color: #555 transparent; }

/* Utility to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
